nav {/*for nav  bar with background color, flexing display*/
  background-color: rgb(42, 1, 42);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    }
  
  .nav-bar {
    display: flex;
    list-style: none;
    font-family: Arial, sans-serif;
   }
  .nav-bar li {
    margin-right: 20px;
    
    }
  
  .nav-bar li:last-child {
    margin-right: 0;
    }
   
  .nav-bar a:hover { /*by putting cursor in menu a solid white line appears below menu*/
    border-bottom: 2px solid white;
  }
  
 
  
  .letter {
    animation-name:bounce;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    padding-right: 10px;
    font-size: 26px;
    font-family: cursive;
  }

  #R {
    color: red;
  }

  #U {
    color: blue;
  }
  #P{
    color: yellow;
  }
  #E{
    color: orangered;
  
  }
  #S{
    color: rgb(144, 88, 20);
  }
  #H{
    color: aliceblue;
  }

  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  
 
  
  .Active{
    color: white;
    font-weight: bold;
  }
  
/* Remove visible boxes around typing area */
input:focus, textarea:focus {
	outline: none;
}

          /* Style for submit button on hover */
body {
  background-color:black;
  color:white;
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin: 0px;
  background-image: url(../images/pic\ from\ unsplash\ 2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.form{ /*class for the form*/
  margin: 0 auto;
  max-width: 500px;
  padding-left: 500px;
  border-radius: 10px;
  position:absolute;
}

input[type=text] , input[type=email] , textarea
 {/*giving width , padding, border, margin ,background color, font , font-size*/ 
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: white;
  color: gray;
  font-family: Arial, sans-serif;
  font-size: 15px;
}

input[type=button] {/*giving  padding, border, margin ,background color, font-size*/ 
  background-color: #1175b7;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

input[type=button]:hover {/* Style for submit button on hover */
  background-color: green;
}

/* Responsive layout */
@media only screen and (max-width: 100px) {
  .form {
    width: 100%;
  }
}
.logo{ padding-left: 250px;
  
}

.item{
  display: block;
}

/* Hide the checkbox */
#toggle-menu {
  display: none;
}

/* Style the hamburger icon */
.menu-icon {
  font-family: Arial, sans-serif;
  font-size: 30px;
  cursor: pointer;
  color: azure;
  
}
.menu{
  display: flex;
  font-size: 10px;
}

/* Rotate the icon when the checkbox is checked */
#toggle-menu:checked + .menu-icon {
  transform: rotate(90deg);
}

/* Hide the menu by default */
.menu {
  display: none;
  list-style: none;
}

/* Show the menu when the checkbox is checked */
#toggle-menu:checked ~ .menu {
  display: block;
}







@media only screen and (min-width: 968px) {
  /* Hide hamburger icon on larger screens */
  .menu-icon {
    display: none;
  }
  /* Show regular menu on larger screens */
  .menu {
    display: none!important;
  }
}


@media only screen and (max-width: 967px) {
  /* Show hamburger icon on smaller screens */
  .menu-icon {
    display: block;
  }
  .form{ /*class for the form*/
    margin: 0 auto;
    max-width: 480px;
    padding-left: 10px;
    border-radius: 5px;
  }
  
  /* Hide regular menu on smaller screens */
  .nav-bar{
    display: none!important;
  }
  
  /* Show menu when hamburger icon is clicked */
  #toggle-menu:checked ~ .menu {
    display: block;
  }
}