nav {/*navigation bar with padding*/
  background-color: rgb(42, 1, 42);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-size: 24px;
  }
  
  .nav-bar {/*removing style from nav  bar*/
    display: flex;
    list-style: none;
    font-family: Arial, sans-serif;
  }
  
  .nav-bar li {
    margin-right: 20px;
    
  }
  
  .nav-bar li:last-child {/*removing margin from last item in menu*/
    margin-right: 0;
  }
  
  .nav-bar a:hover {
    border-bottom: 2px solid white;/*giving color*/
  }
  
  

  .Active{/*when page is active it will ma font bold*/
    color: aliceblue;
    font-weight: bold;
  }
  .index{/*for border,font.padding,stying*/
    color: rgb(238, 195, 242);
    font-size: 24px;
    font-family: Arial;
    margin: 10px;
    position: absolute;
    text-align: justify;
    padding: 100px;
    font-weight: 400;
    margin-top: 0px;
    border: solid rgb(128, 8, 116);
    border-radius: 10px;
    border-style: double;
  }
  body{/*putting background color*/
    background-color:rgb(0, 0, 0);
    margin: 0px;
  
  }
  .first{
    float: left;
  }
  .second{
    padding-left: 100px;
  
  }
  .pic{
    float: left;
    position: absolute;
  }

  .item{
    display: block;
  }
  /* Hide the checkbox */
  #toggle-menu {
    display: none;
  }
  
  /* Style the hamburger icon */
  .menu-icon {
    font-family: Arial, sans-serif;
    font-size: 30px;
    cursor: pointer;
    color: azure;
    
  }

  /* Hide the menu by default */
  .menu {
    display: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .letter {/*animation and padding given*/
    animation-name:bounce;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    padding-right: 10px;
    font-size: 26px;
    font-family: cursive;
  }

  #R {
    color: red;
  }

  #U {
    color: blue;
  }
  #P{
    color: yellow;
  }
  #E{
    color: orangered;
  
  }
  #S{
    color: rgb(144, 88, 20);
  }
  #H{
    color: aliceblue;
  }

  @keyframes bounce { /*bounce animation is used */
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0px);
    }
  }

@media only screen and (min-width: 968px) {
  /* Hide hamburger icon on larger screens */
  .menu-icon {
    display: none;
  }
  /* Show regular menu on larger screens */
  .menu {
    display: none!important;
  }
}

@media only screen and (max-width: 967px) {
  /* Show hamburger icon on smaller screens */
  .menu-icon {
    display: block;
  }
  
  
  /* Hide regular menu on smaller screens */
  .nav-bar{
    display: none!important;
  }
  .index{
    color: rgb(235, 231, 223);
    font-size: 17px;
    font-family:cursive;
    margin-top: 2px;
    text-align: justify;
    margin: 3px;
    padding: 10px;
    font-weight: 400;
    max-width: 950px;
  }
  body{
    background-image: url(../images/unslpash.jpg);

  }
 
  #toggle-menu:checked ~ .menu { 
    display: block;
  }
}