nav {/*for navigation bar*/
  background-color: rgb(42, 1, 42);
    display: flex;
    justify-content: space-between;
    align-items: center; /*making it in center*/
    padding: 10px 20px;
  }
  
  nav a {/*for nav menu list icons text size and text color*/
    color: white;
    text-decoration: none;
    font-size: 24px;
  }
  
  .nav-bar {/*flexing to make it horizointal*/
    display: flex;
    list-style: none;
    font-family: Arial, sans-serif;
  }
  .nav-bar li { /*giving margin of 20px that nav list can be seprated by 20px*/
    margin-right: 20px;
    
  }
  
  .nav-bar li:last-child {/*reducing margin in last item in menu */
    margin-right: 0;
  }
  
  .nav-bar a:hover { /*making it hover in bottom with solid white color line*/
    border-bottom: 2px solid white;
  }
  
  .portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
  }
  
  .grid-item {/*making colums for showcasing my projects and giving border */
    background-color: white;
    border: 1px solid white;
    text-align: center;
    padding: 20px;
  }
  
  .grid-item img {/*giving attribute to image inside the grid*/
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .grid-item h3 {/*for header inside grid */
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .grid-item p {/*for writing paragraph*/
    font-size: 16px;
    margin-bottom: 20px;
  }
  .letter {/*for animating the letters*/
    animation-name:bounce;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    padding-right: 10px;
    font-size: 26px;
    font-family: cursive;
  }

  #R {
    color: red;
  }

  #U {
    color: blue;
  }
  #P{
    color: yellow;
  }
  #E{
    color: orangered;
  
  }
  #S{
    color: rgb(144, 88, 20);
  }
  #H{
    color: aliceblue;
  }

  @keyframes bounce { /*bounce animation is used */
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  
  
  .Active{
    color: aliceblue;
    font-weight: bold;
  }
  body{ /*giving background color and animation*/
    margin: 0px;
    background-color: black;
    background-size: cover;
    animation: color-transition  8s infinite;

  }
  @keyframes color-transition {/*animation for body */
    0% {
      background-color: black;
    }
    25% {
      background-color:  rgb(42, 1, 42);

    }
    50% {
      background-color:  rgb(121, 4, 121);
    }
    100% {
      background-color: rgb(2, 91, 78);
    }
  }

 
/* Hide the checkbox */
#toggle-menu {
  display: none;
}

/* Style the hamburger icon */
.menu-icon {
  font-family: Arial, sans-serif;
  font-size: 30px;
  cursor: pointer;
  color: azure;
  
}
.menu{
  display: flex;
  font-size: 10px;
}


#toggle-menu:checked + .menu-icon { /* Rotate the icon when the checkbox is checked */
  transform: rotate(90deg);
}

/* Hide the menu by default */
.menu {
  display: none;
  list-style: none;
}

/* Show the menu when the checkbox is checked */
#toggle-menu:checked ~ .menu {
  display: block;
}



@media only screen and (min-width: 968px) { 
  .menu-icon {  /* Hide hamburger icon on larger screens */
    display: none;
  }

  .menu {    /* Show regular menu on larger screens */
    display: none!important;
  }
}


@media only screen and (max-width: 967px) {   /* Show hamburger icon on smaller screens */
  .menu-icon {
    display: block;
  }
  
  .nav-bar{  /* Hide regular menu on smaller screens */

    display: none!important;    
  }
  .pic{
    display: flex;
    flex-direction: row-reverse;
    width: 480px;
    float: right;
    margin: 2px;
    padding: 10px
   }
   .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;/*making it justified in center*/
    margin: 0 auto;
    max-width: 400px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    float: left;
  }
  
 
  #toggle-menu:checked ~ .menu {   /* Show menu when hamburger icon is clicked */                             
    display: block;

  }

}





