nav {
  background-color: #2a3e52;
    display: flex;
    justify-content: space-between;
    align-items: center; /*making it in center*/
    padding: 10px 20px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-size: 24px;
  }
  
  .nav-bar {
    display: flex;
    list-style: none;
    font-family: Arial, sans-serif;
  }
  .nav-bar li {
    margin-right: 20px;
    
  }
  
  .nav-bar li:last-child {
    margin-right: 0;
  }
  
  .nav-bar a:hover { /*making it hover in bottom with solid white color line*/
    border-bottom: 2px solid white;
  }
  
  .nav-bar-toggle {
    display: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
  }
  
  @media (max-width: 100px) { /*for making responsive*/
    .nav-bar {
      display: none;
      flex-direction: column;
      margin-top: 20px;
    }
  
    .nav-bar-toggle {
      display: block;
    }
  
  
    .nav-bar li {
      margin: 10px 0;
    }
  
    .nav-bar li:last-child {
      margin-bottom: 0;
    }
  
    .show {
      display: block;
    }
  }
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;/*making it justified in center*/
    margin: 0 auto;
    max-width: 800px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    float: left;
    position: absolute;
  }
  
  .gallery-pic {
    margin: 10px;
    width: 300px;
    padding: 40px;
  }
  
  .gallery-pic img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.2s;
  }
  
  .gallery-pic img:hover {
    transform: scale(1.1);
  }
  .Active{
    color: aliceblue;
    font-weight: bold;
  }
  body{
    background-color:rgb(41, 38, 47);
    margin: 0px;
    background-image: url(../images/unslpash.jpg);
    background-size: cover;

  }
 .color{
  position: absolute;
 }
 .pic{
  float:left;
 }

 
/* Hide the checkbox */
#toggle-menu {
  display: none;
}

/* Style the hamburger icon */
.menu-icon {
  font-family: Arial, sans-serif;
  font-size: 30px;
  cursor: pointer;
  color: azure;
  
}
.menu{
  display: flex;
  font-size: 10px;
}

/* Rotate the icon when the checkbox is checked */
#toggle-menu:checked + .menu-icon {
  transform: rotate(90deg);
}

/* Hide the menu by default */
.menu {
  display: none;
  list-style: none;
}

/* Show the menu when the checkbox is checked */
#toggle-menu:checked ~ .menu {
  display: block;
}







@media only screen and (min-width: 768px) {
  /* Hide hamburger icon on larger screens */
  .menu-icon {
    display: none;
  }
  /* Shows regular menu on larger screens */
  .menu {
    display: none!important;
  }
}


@media only screen and (max-width: 767px) {
  /* Show hamburger icon on smaller screens */
  .menu-icon {
    display: block;
  }
  
  /* Hide regular menu on smaller screens */
  .nav-bar{
    display: none!important;
  }
  
  /* Showing menu when hamburger icon is clicked */
  #toggle-menu:checked ~ .menu {
    display: block;
  }
}