nav {
  background-color: #2c3e50;/*giving background color*/
    display: flex;
    justify-content: space-between;/*giving space in navigation bar*/
    align-items: center;
    padding: 10px 20px;
  }
  
  nav a {
    color: white;/*giving text color white*/
    text-decoration: none;
    font-size: 24px;
  }
  
  .menu {
    display: flex;/*flexing */
    list-style: none;
    font-family: Arial, sans-serif;/*giving font-family*/
  }
  
  .menu li { /*giving marging for listed menu options*/
    margin-right: 20px;
    
  }
  
  .menu li:last-child { /*giving 0 margin to last */
    margin-right: 0;
  }
  
  .menu a:hover {
    border-bottom: 2px solid white;
  }

  @media only screen and (max-width: 100px) {/*for making it responsive to any screen sizes*/
    .menu {
      display: none;
      flex-direction: column;
      margin-top: 20px;
    }
  
  }
  .Active{ /*For making active when my menu list is pressend it will be white*/
    color: white;
    font-weight: bold;
  }
  body{
    background-color: #34495e;
    margin: 0px;
  }
  .divide {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;/*making it justified in center*/
    max-width: 1200px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family:cursive;
    font-weight: 600;
    position: absolute;
    padding: 50px;
  }
  
  .mid {
    margin: 10px;
    width: 500px; 
    border: rgb(243, 3, 3) solid;
    border-radius: 20px;
    padding: 5px;
  }
  .Active{
    color: aliceblue;
    font-weight: bold;
  }
 
 .pic{
  float:left;
 }
 .paragraph{
  text-align: justify;
 }
