nav {
  background-color: #2c3e50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    margin: 0px;
   
     }
  
  nav a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    }
  
  .nav-bar {
    display: flex;
    list-style: none;
    font-family: Arial, sans-serif;
   }
  .nav-bar li {
    margin-right: 20px;
    
    }
  
  .nav-bar li:last-child {
    margin-right: 0;
    }
   
  .nav-bar a:hover {
    border-bottom: 2px solid white;
  }
  
  .nav-bar-toggle {
    display: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 400px) {
    .nav-bar
    {
      display: none;
      flex-direction: column;
      margin-top: 20px;
    }
  }
  .Active{
    color: aliceblue;
    font-weight: bold;
  }
  .divide {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;/*making it justified in center*/
    max-width: 1200px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family:cursive;
    font-weight: 600;
    position: absolute;
    padding: 50px;
  }
  
  .mid {
    margin: 10px;
    width: 500px; 
    border: rgb(243, 3, 3) solid;
    border-radius: 20px;
    padding: 5px;
    border-style: dotted;
  }

  .intro{
    margin: 10px;
    width: 500px; 
    border: rgb(243, 3, 3) solid;
    border-radius: 20px;
    padding: 5px;
    border-style: dotted;
    padding-bottom:40px ;
  }
  .Active{
    color: aliceblue;
    font-weight: bold;
  }
 
 .paragraph{
  text-align: justify;
 }
 body{
  background-image: url(../images/unsplash\ 5.jpg);
 margin: 0px;
  background-size: cover;
 }
 
.item{
  display: block;
}

#toggle-menu {/* Hide the checkbox */
  display: none;
}

/* Style the hamburger icon */
.menu-icon {
  font-family: Arial, sans-serif;
  font-size: 30px;
  cursor: pointer;
  color: azure;
  
}
.menu{
  display: flex;
  font-size: 10px;
}

#toggle-menu:checked + .menu-icon { /* Rotate the icon when the checkbox is checked */
  transform: rotate(90deg);
}

/* Hide the menu by default */
.menu {
  display: none;
  list-style: none;
}

/* Show the menu when the checkbox is checked */
#toggle-menu:checked ~ .menu {
  display: block;
}



@media only screen and (min-width: 968px) { 
  .menu-icon {  /* Hide hamburger icon on larger screens */
    display: none;
  }

  .menu {    /* Show regular menu on larger screens */
    display: none!important;
   
  }

}


@media only screen and (max-width: 967px) {   /* Show hamburger icon on smaller screens */
  .menu-icon {
    display: block;
  }
  .divide {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;/*making it justified in center*/
    max-width: 480px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family:cursive;
    font-weight: 400;
    position: absolute;
    padding: 5px;
  }

  
  .nav-bar{  /* Hide regular menu on smaller screens */

    display: none!important;  
 
  }
  
 
  #toggle-menu:checked ~ .menu {   /* Show menu when hamburger icon is clicked */                             
    display: block; 
  }
}





