nav {
  background-color: #2c3e50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
     }
  
  nav a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    }
  
  .menu {
    display: flex;
    list-style: none;
    font-family: Arial, sans-serif;
   }
  .menu li {
    margin-right: 20px;
    
    }
  
  .menu li:last-child {
    margin-right: 0;
    }
   
  .menu a:hover {
    border-bottom: 2px solid white;
  }
  
  .menu-toggle {
    display: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 100px) {
    .menu 
    {
      display: none;
      flex-direction: column;
      margin-top: 20px;
    }
  }
  .Active{
    color: aliceblue;
    font-weight: bold;
  }
  .graph{
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    font-size: 20px;
    font-family: serif;
    text-align:justify;
  }
  
  
.graph1{
  color: rgb(255, 255, 255);
  padding: 5px 2px;
  margin: 2px;
  font-size: 20px;
  font-family: serif;
  text-align:justify;
 
}

.graph2{
  color: rgb(255, 255, 255);
  padding: 5px 2px;
  margin: 2px;
  font-size: 20px;
  font-family: serif;
  text-align:justify;
}

body{
  background-color: #34495e;
}
li{
  list-style: none;
}

.exp{
  display: flex;
  background-color: #023669;
  flex-direction: row;
}
.microsoft{
  border: rgb(255, 253, 253) solid;
  box-shadow: 5px;
  margin-left: 900px;
  display: flex;
  flex-direction:column;
  text-align:justify;
  font-size: 18px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  float: left;
  background-color: rgb(20, 6, 85);
  
}
.youtube{
  border: rgb(255, 255, 255) solid ;
  box-shadow: 5px;
  margin-right: 900px;
  display: flex;
  flex-direction:row;
  text-align:justify;
  font-size: 18px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  
}
.logo{
  padding: 5px 20px;
}