nav {
    background-color: rgb(42, 1, 42);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    margin: 0px;
     }
  
  nav a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    }
  
  .nav-bar {
    display: flex;
    list-style: none;
    font-family: Arial, sans-serif;
   }
  .nav-bar li {
    margin-right: 20px;
    
    }
  
  .nav-bar li:last-child {
    margin-right: 0;
    }
   
  .nav-bar a:hover {/*by putting cursor in menu a solid white line appears below menu*/
    border-bottom: 2px solid white;
  }
  

  .letter {
    animation-name:bounce;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    padding-right: 10px;
    font-size: 26px;
    font-family: cursive;
  }

  #R {
    color: red;
  }

  #U {
    color: blue;
  }
  #P{
    color: yellow;
  }
  #E{
    color: orangered;
  
  }
  #S{
    color: rgb(144, 88, 20);
  }
  #H{
    color: aliceblue;
  }

  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  .Active{
    color: aliceblue;
    font-weight: bold;
  }
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;/*making it justified in center*/
    margin: 0 auto;
    max-width: 800px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    float: left;
    position: absolute;
  }
  
  .microsoft-pic {
    margin: 10px;
    width: 300px;
    padding: 40px;
  }
  
  .microsoft-pic img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.2s;
  }
   
  .microsoft-pic img:hover {
    transform: scale(1.1);
  }
  .youtube-pic {
    margin: 10px;
    width: 300px;
    padding: 40px;
  }
  
  .youtube-pic img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.2s;
  }
   
  .youtube-pic img:hover {
    transform: scale(1.1);
  }
  .Active{
    color: aliceblue;
    font-weight: bold;
  }
  body{
    background-color:rgb(0, 0, 0);
    margin: 0px;
    background-image: url(../images/5.jpg);
    background-size: cover;
  }
 .color{
  position: absolute;
 }
 .pic{
  float:left;
 }
 .word{
  font-weight: 600;
  padding:30px 8px;
  font-size: 22px;
  font-family: serif;
  margin: 20px;
  color: rgb(29, 2, 24);
  text-align: justify;
  border: black solid;
  border-radius: 20px;
  border-left: 20px;
  border-style:dotted;
 }

.item{
  display: block;
}
/* Hide the checkbox */
#toggle-menu {
  display: none;
}

/* Style the hamburger icon */
.menu-icon {
  font-family: Arial, sans-serif;
  font-size: 30px;
  cursor: pointer;
  color: azure;
  
}
.menu{
  display: flex;
  font-size: 10px;
}


#toggle-menu:checked + .menu-icon {/* Rotate the icon when the checkbox is checked */
  transform: rotate(90deg);
}

/* Hide the menu by default */
.menu {
  display: none;
  list-style: none;
}

/* Show the menu when the checkbox is checked */
#toggle-menu:checked ~ .menu {
  display: block;
}


@media only screen and (min-width: 968px) {
  /* Hide hamburger icon on larger screens */
  .menu-icon {
    display: none;
  }
  /* Show regular menu on larger screens */
  .menu {
    display: none!important;
  }
}


@media only screen and (max-width: 967px) {
  /* Show hamburger icon on smaller screens */
  .menu-icon {
    display: block;
  }
  .word{
    font-weight: 600;
    padding:5px 2px;
    font-size: 16px;
    font-family: serif;
    margin: 10px;
    color: rgb(29, 2, 24);
    text-align: justify;
    border: black solid;
   border-radius: 10px;
   border-left: 10px;
   border-style:dotted;
   }
   .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;/*making it justified in center*/
    margin: 0 auto;
    max-width: 550px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    float: left;
  }
  /* Hide regular menu on smaller screens */
  .nav-bar{
    display: none!important;
  }
  
  /* Show menu when hamburger icon is clicked */
  #toggle-menu:checked ~ .menu {
    display: block;
  }
}