nav {
  background-color: #2c3e50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    margin: 0px;
     }
  
  nav a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    }
  
  .menu {
    display: flex;
    list-style: none;
    font-family: Arial, sans-serif;
   }
  .menu li {
    margin-right: 20px;
    
    }
  
  .menu li:last-child {
    margin-right: 0;
    }
   
  .menu a:hover {
    border-bottom: 2px solid white;
  }
  
  .menu-toggle {
    display: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 100px) {
    .menu 
    {
      display: none;
      flex-direction: column;
      margin-top: 20px;
    }
  }
  .Active{
    color: aliceblue;
    font-weight: bold;
  }
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;/*making it justified in center*/
    margin: 0 auto;
    max-width: 800px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    float: left;
    position: absolute;
  }
  
  .microsoft-pic {
    margin: 10px;
    width: 300px;
    padding: 40px;
  }
  
  .microsoft-pic img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.2s;
  }
   
  .microsoft-pic img:hover {
    transform: scale(1.1);
  }
  .youtube-pic {
    margin: 10px;
    width: 300px;
    padding: 40px;
  }
  
  .youtube-pic img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.2s;
  }
   
  .youtube-pic img:hover {
    transform: scale(1.1);
  }
  .Active{
    color: aliceblue;
    font-weight: bold;
  }
  body{
    background-color:rgb(41, 38, 47);
    margin: 0px;
  }
 .color{
  position: absolute;
 }
 .pic{
  float:left;
 }
 .word{
  font-weight: 600;
  padding:30px 8px;
  font-size: 22px;
  font-family: cursive;
  margin: 20px;
  color: rgb(71, 3, 59);
  text-align: justify;
  border: black solid;
 border-radius: 80px;
 border-left: 20px;
 border-style:dotted;
 }